@media (max-width: 1225px) {
  /* section_2  */
  .section_2 {
    flex-wrap: wrap;
    padding: 32px;
  }
  .section_2_cover {
    display: none;
  }
  .section_2_cover_2 {
    display: block;
    width: 100%;
  }
  .section_2_div {
    display: flex;
    column-gap: 80px;
    margin-top: 40px;
    margin-left: 0;
  }
  .section_2_title {
    width: calc(440 / 1024 * 100%);
  }
  .section_2_text {
    width: calc(440 / 1024 * 100%);
  }
}
@media (max-width: 1165px) {
  /* section_3  */
  .section_3 {
    padding-inline: 32px;
  }
}
@media (max-width: 1065px) {
  /* header  */
  header {
    padding-inline: 32px;
  }
  /* footer  */
  footer {
    padding: 40px 445px 40px 32px;
    flex-direction: column;
  }
  .footer_logo {
    margin-bottom: 32px;
  }
  .footer_nav_div {
    width: 100%;
  }
  .contact_div {
    display: none;
  }
}
@media (max-width: 850px) {
  /* header  */
  header {
    padding-inline: 24px;
  }
  /* section_1 */
  .section_1 {
    height: 320px;
  }
  .section_1_title {
    font-size: 36px;
    line-height: 44px;
  }
  /* section_2  */
  .section_2 {
    padding: 24px;
  }
  .section_2_div {
    display: block;
  }
  .section_2_title {
    width: 100%;
    text-align: center;
  }
  .section_2_text {
    width: 100%;
    text-align: center;
  }
  /* section_3  */
  .section_3 {
    padding: 40px 24px;
  }
  .section_3_article {
    flex-direction: column;
    row-gap: 20px;
  }
  .section_3_div_head {
    justify-content: center;
  }
  .section_3_text {
    text-align: center;
  }
  /* footer  */
  footer {
    padding: 32px 301px 32px 24px;
  }
}
